<h1>Create a new survey</h1>

<form action="/survey_designer/new" method="post">
  <label for="name">Enter name for new survey:</label>
  <input id="name" name="name" type="text" required>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<h4>Here are the list of surveys</h4>
<% if @surveys.any?() %>
  <ul>
    <% @surveys.each() do |survey| %>
      <li><a href="/survey_designer/<%= survey.id() %>"><%= survey.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h4>No surveys yet</h4>
<% end %>

<div class="row">
  <br>
  <div class="col-md-2">
    <a href="/" class = "btn btn-success active" role = "button">Home</a>
  </div>
</div>
